<!-- Useful: https://www.innoq.com/en/blog/structured-logging/-->
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"api_name":"clamav API"}</customFields>
            <fieldNames>
                <thread>[ignore]</thread> <!-- remove this line to see the thread name in the logs -->
                <levelValue>[ignore]</levelValue> <!-- Exclude the pointless level_value field -->
                <version>[ignore]</version> <!-- to set the logger/api version replace 'ignore' with a digit, e.g. 2 -->
            </fieldNames>
            <timestampPattern>dd-MM-yyy' 'HH:mm:ss.SSS</timestampPattern>
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength> <!-- Restrict name length if it gets too long -->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>